@mixin animation($duration: 2s, $fill_mode: both) {
  $name: #{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-fill-mode: $fill_mode;
}
