@tailwind base;
@tailwind components;
@tailwind utilities;

body,
div#__next {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

.water_drops {
  margin: 30px;
  display: block;
  width: 10px;
  height: 30px;
}
