@use './common' as common;

.base {
  @include common.tool_base;
  background-color: rgb(0, 0, 0, 0.4);

  ul.tool_bg {
    @include common.tool_bg;

    .tool_list {
      @include common.tool_list;
      background-color: #000000;

      button {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .label {
        @include common.label;
      }
    }
  }
}
