@use './common' as common;

.base {
  @include common.tool_base;

  ul.tool_bg {
    @include common.tool_bg;

    .tool_list {
      @include common.tool_list;
      height: 4rem;
      background-color: #ffffff;

      button {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .label {
        @include common.label;
      }
    }
  }
}
