@use './common_etit_tools' as common;

.base {
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tool_bgcolor {
  @include common.tool_bg;
}

.tool_list {
  @include common.tool_list;
  background-color: #000000;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  color: #fff;
}
