@use '/src/styles/_position' as ps;
@use '/src/styles/_responsive' as res;

.base {
  @include ps.box_cener;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  div {
    @include ps.box_cener;
    padding: 40px;
    width: 80%;
    background-color: #006e54;
    color: #e6b422;

    p {
      margin-bottom: 16px;
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      font-weight: 100;
      line-height: 1.6rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 20px);
        background-color: #fff;
        text-align: center;
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }
      }
    }
  }
}

@include res.mq('sm') {
  .base {
    div {
      ul {
        li {
          width: 100px;
          &:before {
            content: '';
            display: block;
            padding-top: 100%;
          }
        }
      }
    }
  }
}
