@use '/src/styles/_variables' as var;

.base {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: var.$outer_padding;
  background-color: #cbb994;
  cursor: pointer;

  .logo {
    display: flex;
    gap: 5px;
    font-size: 1.6em;
  }
}
