@use '/src/styles/_variables' as var;
@use '/src/styles/_keyframe' as kf;

.base {
  position: fixed;
  display: flex;
  width: 100%;
  padding: var.$outer_padding;
  background-color: #ebf6f7;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 5px;
  place-content: center;
  align-items: center;
  font-size: 1.4em;
}
