@use '/src/styles/_responsive' as res;
@use './_variables' as var;

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var.$outer_padding;
  background-color: #ffffff;
  cursor: pointer;

  .wrap {
    display: flex;
    flex-flow: column;

    .logo {
      display: flex;
      gap: 5px;
      align-items: center;
      place-content: center;
      font-size: 2em;
      font-weight: 600;
    }

    @include res.mq('md') {
      .logo {
        font-size: 2.5em;
      }
    }
  }
}
