.btn_orange,
.btn_orange {
  color: #fff;
  background-color: #eb6100;
}
.btn_orange:hover,
.btn_orange:hover {
  color: #fff;
  background: #f56500;
}

.btn_radius {
  padding: 5px 30px;
  border-radius: 100vh;
  display: inline-block;
  text-align: center;
}
