@use '/src/styles/variables' as var;

.menu {
  position: absolute;
  gap: 40px;
  flex-direction: column;
  place-content: center;
  height: 100%;
  width: 100%;
  margin: -(var.$outer_padding);
  background-color: #0d0015;
  li {
    margin-left: calc(var.$outer_padding * 2);
    font-size: 2em;
    color: #c0c6c9;
  }
}
