.bg_f60012 {
  background-color: #f60012;
}
.bg_f39800 {
  background-color: #f39800;
}
.bg_fff100 {
  background-color: #fff100;
}
.bg_bfc31f {
  background-color: #bfc31f;
}
.bg_009944 {
  background-color: #009944;
}
.bg_009e96 {
  background-color: #009e96;
}
