@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ccc;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
  padding: 5px 30px;
  border-radius: 100vh;
  display: inline-block;
  text-align: center;
}
