@use '/src/styles/_responsive' as res;

.base {
  padding: 80px 20px 40px;
  background-color: #965036;
  color: #ebf6f7;
  font-size: 2rem;
  font-weight: 600;

  .menu {
    margin-bottom: 40px;

    ul {
      margin-bottom: 40px;

      li {
        width: 50%;
        margin-bottom: 20px;
      }

      li:last-of-type {
        margin-bottom: 0px;
      }
    }
    ul:last-of-type {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.6rem;
    }
  }
  .sns {
    width: 204px;
    margin-bottom: 40px;

    svg {
      width: calc(100% / 4 - 20px * 3 / 4 - 8px * 2);
      margin-right: 20px;
      padding: 8px;
      box-sizing: content-box;
      background-color: #f8cf96;

      path {
        fill: #965036;
      }

      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
  .site_policy {
    display: flex;
    flex-wrap: wrap;

    p {
      margin-bottom: 40px;
      margin-right: 40px;
      font-size: 1rem;
    }

    p:nth-child(2n) {
      margin-right: 0px;
    }
    p:last-of-type {
      width: auto;
      margin: 0px;
    }
  }
}

// ブレイクポイント
@include res.mq('md') {
  .base {
    padding-right: 40px;
    padding-left: 40px;

    .menu {
      display: flex;
      align-items: flex-start;
      margin-bottom: 80px;

      ul {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
      }
    }
    .sns {
      margin-left: auto;
      margin-bottom: 40px;
    }
  }
}

// ブレイクポイント
@include res.mq('xl') {
  .base {
    .base_inner {
      width: 1180px;
      margin: 0 auto;

      .menu {
        display: flex;
        align-items: flex-start;
        margin-bottom: 80px;

        ul {
          display: flex;
          flex-wrap: wrap;
          width: 500px;
        }
      }
      .sns {
        margin-left: auto;
        margin-bottom: 40px;
      }
    }
  }
}
