@use '/src/styles/_responsive' as res;

.base {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  background-color: #a55c44;
  color: #ebf6f7;
  font-size: 1.2rem;
  font-weight: 500;

  .register {
    flex-basis: 100%;
    margin-bottom: 40px;
    color: #000000;

    h2 {
      margin-bottom: 5px;
      font-size: 1.5em;
      font-weight: 600;
    }

    p {
      margin-bottom: 10px;
      font-size: 1.5em;
    }

    input[type='text'] {
      margin-bottom: 15px;
      background-color: transparent;
      border-bottom: 1px solid #000000;
      line-height: 2.5em;

      &::placeholder {
        font-size: 1.2em;
        color: #000000;
      }
    }

    input[type='submit'] {
      width: 100%;
      display: block;
      border: 1px solid #000000;

      line-height: 2.5em;
      font-size: 1em;
    }
  }

  .site_info {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin-bottom: 30px;

    ul {
      &:nth-of-type(1) {
        font-size: 1.4em;
      }

      &:nth-of-type(1) {
        svg {
          width: 20px;
          height: 20px;
          padding: 4px;
          box-sizing: content-box;
          background-color: #f8cf96;

          path {
            fill: #965036;
          }
        }
      }

      li {
        margin-bottom: 5px;
      }

      &:nth-of-type(2) {
        li:last-of-type {
          display: none;
        }
      }
    }
  }

  .logo {
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 3em;

    p {
      color: #000000;
      margin-top: -10px;
    }
  }

  .copy_right {
    font-size: 1.2em;
  }
}

// ブレイクポイント

// ブレイクポイント
@include res.mq('lg') {
  .base {
    align-items: stretch;
    padding: 40px;

    .register {
      flex-basis: 200px;
      order: 3;
      margin-right: 80px;
      margin-bottom: 0;

      h2 {
        margin-bottom: 15px;
      }
    }
    .site_info {
      position: relative;
      justify-content: space-around;
      min-width: 450px;
      flex-basis: 30%;
      order: 2;
      margin-bottom: 0;

      ul {
        li:last-of-type {
          position: absolute;
          bottom: 0px;
        }
      }

      ul:nth-of-type(2) {
        li:last-of-type {
          margin-top: auto;
          display: block;
        }
      }
    }
    .logo {
      flex-basis: auto;
      order: 1;
      margin-bottom: 0;
    }
    .copy_right {
      display: none;
    }
  }
}
