.tool_bgcolor {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: calc(100vh * 0.6);
  width: calc(100vw * 0.8);
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  @media screen and (min-width: 540px) {
    width: calc(100vw * 0.6);
  }
}

.color_list {
  display: flex;
  position: relative;
  flex-direction: column;
  place-content: center;
  width: calc(100vw * 0.4 - 8px);
  height: calc(100vh * 0.2 - 8px);
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1em;

  @media screen and (min-width: 540px) {
    width: calc(100vw * 0.2 - 8px);
    font-size: 1.2em;
  }
  @media screen and (min-width: 1024px) {
    width: calc(100vw * 0.15 - 8px);
  }
  @media screen and (min-width: 1536px) {
    width: calc(100vw * 0.12 - 8px);
  }
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  color: #fff;
}
