@use '/src/components/edit_tools/common_etit_tools' as common;

.tool_bg {
  @include common.tool_bg;
}

.tool_list {
  @include common.tool_list;
  background-color: rgba(255, 255, 255, 0.2);
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  color: #fff;
}
